@model FormViewModel

@{
    ViewData["Title"] = "Kezdőlap";
}

<div class="text-center">
    <h1 class="display-4">Internetes Alkalmazásfejlesztés I.</h1>
    <form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
        <fieldset class="container-sm w-50 mx-auto">
            <legend>Számológép</legend>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row my-2 align-items-center">
                <label asp-for="FormValues.Szam1" class="control-label col-3 text-end"></label>
                <div class="col-6">
                    <input asp-for="FormValues.Szam1" type="number" class="form-control fs-4 fw-bolder text-center" />
                </div>
                <span asp-validation-for="FormValues.Szam1" class="col-3 text-danger small"></span>
            </div>
            <div class="row my-2 align-items-center">
                <label asp-for="FormValues.Szam2" class="control-label col-3 text-end"></label>
                <div class="col-6">
                    <input asp-for="FormValues.Szam2" type="number" class="form-control fs-4 fw-bolder text-center" />
                </div>
                <span asp-validation-for="FormValues.Szam2" class="col-3 text-danger small"></span>
            </div>
            <div class="row my-2">
                <div class="col-6 offset-3 text-start d-flex">
                    <a asp-action="Index" class="btn btn-outline-danger fw-bold me-2" title="Töröl">C</a>
                    @Html.DropDownListFor(
                        m => m.FormValues.Muvelet, 
                        new List<SelectListItem>{
                            new SelectListItem("+", "+"),
                            new SelectListItem("-", "-"),
                            new SelectListItem("÷", "/"),
                            new SelectListItem("×", "*"),
                            new SelectListItem("mod", "%"),
                        },
                        new { @class = "form-select fw-bolder w-auto text-center me-2", title = "Művelet" }
                    )
                    <button type="submit" class="btn btn-outline-primary fw-bold me-2" title="Kiszámol">=</button>
                    <output id="output" class="h2 fw-bolder m-0 p-0 lh-1 align-middle">@Model?.Eredmeny</output>
                </div>
            </div>
        </fieldset>
    </form>
</div>
